.page-todo-wapper {
    padding-top: 120px;
    display: grid;
    grid-template-columns: minmax(50vw, 60em) minmax(50vw, 60em);
    grid-template-rows: auto auto;
    gap: 20px;
    /* grid-template-areas:
        "todo""calculator"
        "calculator2""calculator3"
    ; */
    background-color: cornflowerblue;
}

.page-todo-wapper .project-todo {
    grid-area: "todo";
    background-color: var(--color-green);
    max-height: 50vh;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 10px;
    visibility: hidden;
}

.page-todo-wapper .project-todo .project-todo__content {
    margin: 0 auto;
    width: 90%;
    border-radius: 15px;
    background-color: var(--color-white);
    padding: 20px;
}

.page-todo-wapper .project-todo .project-todo__content ul.page-todo__content--list {
    margin-top: 20px;
}

.page-todo-wapper .project-todo .project-todo__content ul.page-todo__content--list li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: aliceblue;
    padding: 4px 20px;
    border-radius: 5px;
    margin: 2px 0;
    cursor: pointer;
}

.page-todo-wapper .project-todo .project-todo__content ul.page-todo__content--list li img {
    width: 20px;
    opacity: 0.2;
}

.page-todo-wapper .project-todo .project-todo__content button {
    border-radius: 10px;
    padding: 5px 25px;
    color: var(--color-white);
    border: none;
    margin-right: 20px;
}

.page-todo-wapper .project-todo .project-todo__content button:active {
    box-shadow: 0px 0px 15px 10px rgba(145, 214, 88, 0.49);
}

.page-todo-wapper .project-todo .project-todo__content .btn.btn--primary {
    background-color: cornflowerblue;
}

.page-todo-wapper .project-todo .project-todo__content .btn.btn--danger {
    background-color: var(--color-red-light);
}

.page-todo-wapper .project-todo .project-todo__content .btn.btn--info {
    background-color: var(--color-green);
}

.page-todo-wapper .project-todo .project-todo__content button:focus {
    outline: none;
}

.page-todo-wapper .project-todo .project-todo__content p {
    margin: 10px 0;
    font-size: 16px;
    color: var(--color-light-blue);
}

.page-todo-wapper .project-todo .project-todo__content .project-todo__content--add-list {
    display: flex;
}

.page-todo-wapper .project-todo .project-todo__content .project-todo__content--add-list input {
    margin-right: 20px;
}

.page-todo-wapper .project-todo .project-todo__content .project-todo__content--add-list input:focus {
    outline: none;
    box-shadow: 0px 0px 5px 5px rgba(204, 170, 204, 0.8);
}

.page-todo-wapper .project-todo .project-todo__content .project-todo__content--controll {
    display: flex;
    margin-top: 20px;
}

.item-done {
    text-decoration: line-through;
}

.item-done img {
    opacity: 1 !important;
}

/* === chose color project === */
.page-todo-wapper .project-find-color {
    grid-area: "calculator";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: cursive;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    visibility: hidden;
}

.page-todo-wapper .project-find-color h1 {
    font-weight: bold;
    font-size: 45px;
}

.page-todo-wapper .project-find-color .project-find-color__code-color {
    margin: 20px 0 30px 0;
    font-size: 30px;
    font-weight: 900;
}

.page-todo-wapper .project-find-color ul.page-find-color__content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.page-todo-wapper .project-find-color ul.page-find-color__content li {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.page-todo-wapper .project-find-color .project-find-color__messages {
    margin: 20px 0;
    font-size: 18px;
}

.page-todo-wapper .project-find-color a {
    background-color: rgb(191, 133, 216);
    border-radius: 10px;
    padding: 8px 15px;
    font-weight: 600;
    cursor: pointer;
}

.page-todo-wapper .project-find-color a:active,
a:hover {
    box-shadow: 0px 0px 15px 10px rgba(145, 214, 88, 0.49);
}

.page-todo-wapper .project-find-color a:active {
    background-color: darkorange;
    color: var(--color-white);
}

/* === calculator === */
.page-todo-wapper .project-calculator {
    width: 100%;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(2, auto);
    margin: 0 auto;
    background-color: coral;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    border-radius: 10px;
    visibility: hidden;
}

.page-todo-wapper .project-calculator .project-calculator__kerbroad-calculator {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    border-radius: 0 0 10px 10px;
}

.project-calculator input {
    height: 60px;
    padding-left: 10px;
    width: 200px;
    background-color: black;
    color: var(--color-white);
    border-radius: 10px 10px 0 0;
    font-size: 16px;
}

.project-calculator__kerbroad-calculator>* {
    font-weight: 600;
}

.project-calculator__kerbroad-calculator .key_result {
    grid-column: 4/5;
    grid-row: 2/6;
}

.project-calculator__kerbroad-calculator button.key_result:focus {
    border: none;
}

/* === Rock Paper === */
.page-todo-wapper .project-rock-paper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.project-rock-paper .loader-wapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    position: absolute;
    top: 30%;
    background-color: rgb(94 79 101 / 0.5);
    margin-top: -114px;
    display: none;
}

.loader-text {
    color: var(--color-white);
    z-index: 10002;
    font-weight: 600;
    font-size: 26px;
    margin-top: 150px;
}

.page-todo-wapper .project-rock-paper .loader {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    z-index: 1005;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.page-todo-wapper .project-rock-paper h1 {
    margin: 20px 0;
}

.page-todo-wapper .project-rock-paper .project-rock-paper__game {
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-black);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-todo-wapper .project-rock-paper .project-rock-paper__game--score {
    min-width: 200px;
    padding: 20px;
    border: 3px solid var(--color-white);
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.page-todo-wapper .project-rock-paper .project-rock-paper__game--score span {
    background-color: var(--color-red-fresh);
    padding: 2px 5px;
}

.page-todo-wapper .project-rock-paper .project-rock-paper__game--score span:first-of-type {
    position: absolute;
    left: -20px;
}

.page-todo-wapper .project-rock-paper .project-rock-paper__game--score span:last-of-type {
    position: absolute;
    right: -22px;
}

.page-todo-wapper .project-rock-paper .project-rock-paper__game--score #game-score {
    color: var(--color-white);
    font-size: 30px;
    font-weight: 600;
}

.project-rock-paper__game--masseges {
    color: var(--color-white);
    font-weight: bold;
    font-size: 28px;
    margin: 20px 0;
}

.page-todo-wapper .project-rock-paper__game .project-rock-paper__game--your-choise {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page-todo-wapper .project-rock-paper__game .project-rock-paper__game--your-choise img {
    width: 80px;
    height: 80px;
    border: 2px solid var(--color-white);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.page-todo-wapper .project-rock-paper__game h3 {
    margin-top: 20px;
    color: var(--color-white);
}