.page-todo-wapper {
    padding-top: 120px;
    display: grid;
    grid-template-columns: minmax(50vw, 60em) minmax(50vw, 60em);
    grid-template-rows: auto auto;
    /* grid-template-areas:
        "todo""calculator"
        "calculator2""calculator3"
    ; */
}

.page-todo-wapper .project-todo {
    grid-area: 'todo';
    background-color: var(--color-green);
    max-height: 50vh;
    overflow-y: scroll;
}

.page-todo-wapper .project-todo .project-todo__content {
    margin: 0 auto;
    width: 90%;
    border-radius: 15px;
    background-color: var(--color-white);
    padding: 20px;
}

.page-todo-wapper .project-todo .project-todo__content ul.page-todo__content--list {
    margin-top: 20px;
}

.page-todo-wapper .project-todo .project-todo__content ul.page-todo__content--list li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: aliceblue;
    padding: 4px 20px;
    border-radius: 5px;
    margin: 2px 0;
    cursor: pointer;
}

.page-todo-wapper .project-todo .project-todo__content ul.page-todo__content--list li img {
    width: 20px;
    opacity: 0.2;
}

.page-todo-wapper .project-todo .project-todo__content button {
    border-radius: 10px;
    padding: 5px 25px;
    color: var(--color-white);
    border: none;
    margin-right: 20px;
}

.page-todo-wapper .project-todo .project-todo__content button:active {
    box-shadow: 0px 0px 15px 10px rgba(145, 214, 88, 0.49);
}

.page-todo-wapper .project-todo .project-todo__content .btn.btn--primary {
    background-color: cornflowerblue;
}

.page-todo-wapper .project-todo .project-todo__content .btn.btn--danger {
    background-color: var(--color-red-light);
}

.page-todo-wapper .project-todo .project-todo__content .btn.btn--info {
    background-color: var(--color-green);
}

.page-todo-wapper .project-todo .project-todo__content button:focus {
    outline: none;
}

.page-todo-wapper .project-todo .project-todo__content p {
    margin: 10px 0;
    font-size: 16px;
    color: var(--color-light-blue);
}

.page-todo-wapper .project-todo .project-todo__content .project-todo__content--add-list {
    display: flex;
}

.page-todo-wapper .project-todo .project-todo__content .project-todo__content--add-list input {
    margin-right: 20px;
}

.page-todo-wapper .project-todo .project-todo__content .project-todo__content--add-list input:focus {
    outline: none;
    box-shadow: 0px 0px 5px 5px rgba(204, 170, 204, 0.8);
}

.page-todo-wapper .project-todo .project-todo__content .project-todo__content--controll {
    display: flex;
    margin-top: 20px;
}

.item-done {
    text-decoration: line-through;
}

.item-done img {
    opacity: 1 !important;
}

/* === chose color project === */
.page-todo-wapper .project-find-color {
    grid-area: 'calculator';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: cursive;
}

.page-todo-wapper .project-find-color h1 {
    font-weight: bold;
    font-size: 45px;
}

.page-todo-wapper .project-find-color .project-find-color__code-color {
    margin: 20px 0 30px 0;
    font-size: 30px;
    font-weight: 900;
}

.page-todo-wapper .project-find-color ul.page-find-color__content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.page-todo-wapper .project-find-color ul.page-find-color__content li{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.page-todo-wapper .project-find-color .project-find-color__messages {
    margin: 20px 0;
    font-size: 18px;
}

.page-todo-wapper .project-find-color a {
    background-color: rgb(191, 133, 216);
    border-radius: 10px;
    padding: 8px 15px;
    font-weight: 600;
    cursor: pointer;
}

.page-todo-wapper .project-find-color a:active, a:hover {
    box-shadow: 0px 0px 15px 10px rgba(145, 214, 88, 0.49);
}

.page-todo-wapper .project-find-color a:active {
    background-color: darkorange;
    color: var(--color-white);
}

.page-todo-wapper .project-calculator {
    width: 100%;
    display: grid;
    /* grid-template-columns: minmax(50%,100%); */
    grid-template-columns: 300px;
    grid-template-rows: repeat(2,auto);
}

.project-calculator__kerbroad-calculator {
    display: grid;
    grid-template-columns: repeat(4,75px);
    grid-template-rows: repeat(4,75px);
}

/* .project-calculator__kerbroad-calculator .key_add {}
.project-calculator__kerbroad-calculator .key_min {}
.project-calculator__kerbroad-calculator .key_multi {}
.project-calculator__kerbroad-calculator .key_div {} */
.project-calculator__kerbroad-calculator .key_result {
    grid-column: 4/5;
    grid-row: 2/6;
}
/* .project-calculator__kerbroad-calculator .key_7 {}
.project-calculator__kerbroad-calculator .key_8 {}
.project-calculator__kerbroad-calculator .key_9 {}
.project-calculator__kerbroad-calculator .key_4 {}
.project-calculator__kerbroad-calculator .key_5 {}
.project-calculator__kerbroad-calculator .key_6 {}

.project-calculator__kerbroad-calculator .key_1 {}
.project-calculator__kerbroad-calculator .key_2 {}
.project-calculator__kerbroad-calculator .key_3 {}
.project-calculator__kerbroad-calculator .key_0 {}
.project-calculator__kerbroad-calculator .key_dot {}
.project-calculator__kerbroad-calculator .key_ac {} */


/* .page-todo-wapper .project-calculator3 {
    grid-area: 'calculator3';
} */